.Mcard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	padding-bottom: 10px;
  }
  .postCard{
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;

  }

  .tcard{
text-align: center;
	
  }
  .Mprice {
	color: grey;
	font-size: 22px;
  }
  
  .Mcard button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .Mcard button:hover {
	opacity: 0.7;
  }
  
  @media screen and (min-width: 0px) and (max-width: 768px) {
	.Mcard{min-width: 336px;}
	
  }