
.cardocd{
 
  box-shadow:var(--box-shadow);
  background-color: var(--white);
	
  }
  .ocd{
	text-align: center;
	text-overflow: ellipsis;
	text-decoration: overline underline;
	font-weight: bold;
   font-size: 20px;
  }
  .card:hover{
	border-left: 10px solid var(--black);
  }
  .ocd:hover{
   color:var(--theme);
  }
  .drivetext{
    color:var(--theme);
  }
 
  .links{
   text-align: center;
   margin-bottom: 10px;
   text-overflow: ellipsis;
   font-weight: 500;
  }
  @media screen and (min-width: 0px) and (max-width: 768px) {
    .cardocd{min-width: 336px;}
    
    }