body{
	height: 100%;
  }



  .postCard{
	justify-content: center;
	align-items: center;

	min-width: none;
	background-color: white;
	box-shadow: var(--box-shadow);
  }

  .postCard:hover{
	border-left:5px solid rgb(78, 212, 168);
  }

  .tcard:hover{
	color:  rgb(78, 212, 168);
	/* border-left:5px solid rgb(78, 212, 168); */

  }



  .postImg img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
    max-width:300px;
	height: 200px;
  }

  .postDesc{
	white-space: pre-wrap;
	flex-direction:column;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 500;
	font-size: 16px;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	margin-bottom: 0px;
  }



  @media screen and (min-width: 0px) and (max-width: 768px) {
	.postCard{min-width: 336px;}
	
  }
  /* min336 */